
.top-nav{
  padding-bottom: 20px;
}
.divider{
  background-color: red;
  margin-bottom: 15px;
}

table{
  margin-bottom: 40px;
}

#add-train-title{
  margin-right: 0;
  padding-right: 0;
  width:13%;
}